<div class="main_div">
    <div class="div">
        <h1 class="user_management_heading">{{ labelConstants[3].Usermanagement}}</h1>
        <form #usersForm="ngForm" (ngSubmit)="getUserFormData(usersForm.value)">
            <div class="subdiv1">
                <div class="subdiv">
                    <span class="name">{{ labelConstants[3].Name}}</span>
                    <input class="name_input" type="text" name="fname" ngModel placeholder="Enter name">
                </div>


                <div class="subdiv">
                    <span>{{ labelConstants[3].LastName}}</span>
                    <input class="lastName_input" type="text" name="lname" ngModel placeholder="Enter last name">
                </div>


                <div class="subdiv">
                    <span>{{ labelConstants[3]. Emailaddress}}</span>
                    <input class="email_imput" ngModel placeholder="Enter address" name="email" type="email">
                </div>

                <div class="subdiv">
                    <span>{{ labelConstants[3]. ValidityDate}}</span>
                    <input class="email_imput" ngModel placeholder="validity Date" name="accountValidity" type="date">
                </div>

                <div class="dropdown">
                    <mat-form-field appearance="outline" style="width: 300px; margin: 8px;">
                        <mat-select ngModel name="contentIds" placeholder="Select contents" multiple>
                            <mat-option *ngFor="let content of contents" [value]="content.details.sys.id ">
                                {{ content.details.title }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="subdiv">
                    <button class="add_user_btn"> {{ labelConstants[3].Adduser}}</button>


                </div>

            </div>
        </form>
    </div>
    <div style="border: 1px solid #ECECED;
opacity: .5;"></div>
    <!-- table -->
    <div>
        <div style="display: flex; justify-content: space-between;">
            <h1 class="userList">User list</h1>
            <input class="search_bar" placeholder="Search">
        </div>
        <table id="customers">
            <tr>
                <th >Name </th>
                <th>Last Name</th>
                <th>Email address</th>
       
                <th>Content ID</th>
                <th>validity Date</th>
                <!-- <th>Action</th> -->
            </tr>
            <tr *ngFor="let item of users ">
                <td>{{ item.fname }}</td>
                <td>{{ item.lname }}</td>
                <td>{{ item.email }}</td>
            
                <td>{{item.contentIds}}</td>
                <!-- <td>{{ item.accountValidity }}</td> -->
                
            </tr>

        </table>
    </div>

</div>