@import '../Fonts/Fonts.css';

.breadcrumb {
    display: flex;
    align-items: center;
    font-family: Montserrat-Regular;
    font-size: 16px;
    color: #000;
    padding: 0.7%;
    background-color: white;

}

.breadcrumb-item {
    display: flex;
    align-items: center;
}

.breadcrumb-item span {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-family: Montserrat-Semibold;
    padding: 3px;
}



#home_breadcrumb {
    text-decoration-line: underline;
    font-family: Montserrat-Medium;
    
}

.breadcrumb-separator {
    margin: 0 5px;
}

/* Add media queries as needed for responsiveness */
.routing-label,
.routing-label1,
.routing-label2,
.routing-label3,
.case-study-title {
    font-family: Montserrat;
}

.routing-label,
.routing-label1,
.routing-label2,
.routing-label3 {
    color: #000;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
}

.routing-label1 {
    margin-top: 3%;
    margin-left: 3%;
    font-weight: 600;
    line-height: normal;
}

.routing-label2 {
    margin-top: -2%;
    padding-bottom: 1%;
    margin-left: 7.5%;
    font-family: Montserrat-Black;
}

.routing-label3 {
    margin-top: -2.4%;
    margin-left: 9%;
    font-weight: 700;
}



/* ............................case study....................................... */


.case-study-left-part {
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-color: rgb(205, 211, 211);
    float: left;
    object-fit: contain;
    margin-top: -9%;
    position: relative;
    overflow: hidden;
    height: 500px;
}


.delivery-img {
    height:360 ;
    width:360 ;
    margin-top: -24rem;
    margin-left: 14rem;
    position: relative;
}

.background_img {
    height: 112%;
    width: 106%;
   
    margin-left: -2%;
}

.nestle-img {
    height: 115px;
    margin-top: -154%;
    margin-left: 1.5%;
    position: relative;
}

.case-study-title {
    color: #FFF;
    height: 50px;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
    margin-left: 5.5%;
    margin-top: -29%;
}

.case-study-right-part {
    float: left;
    margin-top: -9%;
    overflow: hidden;
    position: relative;
    background-color: rgb(205, 211, 211);
    height: 500px;
}

.right-part-title,
.CaseStudy_description,
.CaseStudy_domain,
.CaseStudy_name,
.CaseStudy_nameDesc {
    display: flex;
    flex-shrink: 0;
    color: #000;
    font-family: Montserrat;
    font-style: normal;
    padding: 2px;
    text-transform: capitalize;
}

.right-part-title {
    margin-top: 2%;
    margin-left: 5%;
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
}

.CaseStudy_description {
    margin-left: 5%;
    margin-top: 1%;
    font-size: 16px;
    font-family: Montserrat-Regular;
    line-height: 25px;
}

.CaseStudy_domain {
    margin-top: 10px;
    margin-left: 5%;
    font-size: 16px;
    font-family: Montserrat-Semibold;
    line-height: 25px;
}

.CaseStudy_name {
    margin-top: 0.5%;
    margin-left: 5%;
    font-size: 16px;
    font-family: Montserrat-Regular;
    line-height: 25px;
    width: fit-content;
}

.CaseStudy_name,
.CaseStudy_nameDesc {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.CaseStudy_nameDesc {
    font-size: 16px;
    font-family: Montserrat-Semibold;
    margin: 0 0 1px;
}

.action-buttons {
    margin-top: 19px;
    margin-left: 25px;
}
.comments{
    font-family: Montserrat-Regular;
}
.like {
    font-family: Montserrat-Regular;
    padding-left: 20px;
}

#share {
    border: none;
    background: none;
    padding-left: 230px;

}

/* Add this style to position the snackbar at the upper side of the screen */
.Share_icon ::ng-deep .mat-simple-snackbar {
    bottom: auto;
    top: 0;
    transform: translateY(0);
    justify-content: flex-start;
}

.Share_icon ::ng-deep .mat-simple-snackbar span.mat-simple-snackbar-message {
    align-items: flex-start;
    text-align: left;
    padding: 8px;
}

.Share_icon ::ng-deep .mat-simple-snackbar button.mat-simple-snackbar-action {
    margin-top: 4px;
}

.download_button {
    border: none;
    background: none;
    padding-left: 20px;
}

.likes {
    border: none;
    background: none;
    padding-left: 18px;
}


.liked {
    color: #FF6D43;
    /* Change the color to your desired liked color */
}

.unliked {
    color: initial;
    /* Reset the color to the default or inherit from parent */
}


/* ................project scope............................... */

#project_scope {
    background: #F8F8F8;
}

#projectscope_row {
    display: flex;
    flex-wrap: wrap;
    /* margin: -15px; */
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container-fluid {
    --bs-gutter-x: 0.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
    margin-top: 9%;
    flex-wrap: wrap;
}

.col-sm-7,
.col-sm-5 {
    flex: 0 0 50%;
    padding-top: 43px;
}

.project-scope-title {
    color: #002D3C;
    font-size: 36px;
    font-family: Montserrat-Semibold;

    line-height: normal;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #ff6d43;
    letter-spacing: 2px;
    text-underline-offset: 8px;
}

.project-description,
.project-scope-Inlist {
    color: #000;
    padding: 10px;
    font-family: Montserrat-Regular;
    font-size: 17px;
    font-style: normal;

    line-height: 30px;
    text-transform: capitalize;
}

.project-scope-img img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    background-color: #0B83AB;
}


/* .............................challenge........................................................... */
#challenges_main {
    background-color: white;
    padding: -10px;
}

.challenges {
    width: 60%;
    height: 530px;
    padding-top: -200px;
}

.img-responsive {
    padding-top: 38%;
}

.challenges-label {
    color: #002D3C;
    font-family: Montserrat-SemiBold;
    font-size: 40px;
    font-style: normal;

    margin-left: 1%;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #ff6d43;
    letter-spacing: 2px;
    text-underline-offset: 8px;
}



.challenge-list {
    margin-top: 2%;
    color: #000;
    font-family: Montserrat-Regular;
    font-size: 17px;
    font-style: normal;

    line-height: 30px;
    text-transform: capitalize;
}

.challenge-list li {
    margin-bottom: -30px;
}

.challenges-items {
    color: #000;
    font-family: Montserrat-Regular;
    font-size: 16px;
    font-style: normal;
    letter-spacing: 0.01em;
   
    line-height: 40px;
    text-transform: capitalize;
    padding: 10px;
}

.challenges-dividing-line {
    width: 100%;
    height: 26px;

    flex-shrink: 0;
    background: rgba(255, 109, 67, 0.40);
}

.challenges-img img {
    width: 286px;
    height: 286px;
    margin-left: 110%;
    padding-top: -90%;
    margin-bottom: 30%;
    flex-shrink: 0;
    background-color: aqua;
}

/* .....................ux approach...................... */
.ux_heading {
    color: #002D3C;
    font-size: 40px;
    margin-top: -1%;
    margin-left: 1%;
    font-family: Montserrat-Semibold;
    font-style: normal;

    line-height: normal;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #ff6d43;
    letter-spacing: 2px;
    text-underline-offset: 8px;
}

.ux_img {
    width: 100%;
    padding-inline: 74px;
    height: auto;
}

@media (max-width: 2000px) {
    .ux_img {
        width: 97%;

    }
}

.part6-content-img {
    width: 100px;
    height: 500px;
    margin-top: 2%;
    margin-left: 3%;
}

@media (min-width: 1200px) {
    .container {
        max-width: 100%;
        /* max-width: 720px; */
    }
}

.ux-dividing-line {
    width: 107%;
    margin-left: -2%;
    height: 26px;
    overflow: hidden;
    margin-top: 2%;
    background: rgba(255, 109, 67, 0.40);
}

/* ...........................solution`............................................................... */
.solution-part {
    width: 100%;
    margin-left: 3%;
}


.solution-part-heading {
    color: #002D3C;
    font-family: Montserrat-SemiBold;
    font-size: 40px;
    margin-top: -1.5%;
    margin-left: 1%;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: underline;

    text-decoration-color: #ff6d43;

    letter-spacing: 2px;

    text-underline-offset: 8px;
}

.solution-part-text {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-shrink: 0;
    color: #000;
    font-size: 20px;
    font-style: normal;
    margin-top: 2%;
    font-family: Montserrat-Regular;
    line-height: 25px;
    text-transform: capitalize;

}

.solution-list {
    margin-bottom: -10px;
    letter-spacing: 0.01cqb;
}

.solution-items {
    padding: 8px;
    color: #000;
    font-family: Montserrat-Regular;
    font-size: 17px;
    font-style: normal;
    letter-spacing: 0.01cqb;
   
    line-height: 18px;
    /* 166.667% */
    text-transform: capitalize;
    margin-left: 1%;
}


/* .....................cx design.................................... */
.cx-design-part {
    width: 100%;
    height: 250px;
    flex-shrink: 0;
    background-color: #F8F8F8;
}
ul.cx_design_options {
    list-style-type: none; /* Removes bullets */
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
}
#cxDesign_main {
    background: #f3f3f3;
}

.cx-design-img {
    width: 75px;
    height: 93px;
    margin-left: 3%;
    margin-top: 1%;
    padding-top: 2%;
}



.cx-design-heading {
    color: #002D3C;
    font-family: Montserrat-SemiBold;
    font-size: 30px;
    margin-left: 2%;
    /* margin-top: 2%; */
    font-style: normal;
    width: -1%;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #ff6d43;
    letter-spacing: 2px;
    padding: 9px;
    text-underline-offset: 8px;
}

.cx-design-part ul {
    list-style-type: none;
    margin-left: 1%;
    padding: 0;
    overflow: hidden;
}


.cx_list {
    color: #0B83AB;
    font-family: Montserrat-Semibold;
    font-size: 15px;
    padding: 0px;
    font-style: normal;
    line-height: normal;
    margin-left: 3%;
    margin-right: 6px;
    text-decoration: underline;
    text-decoration-color: #0B83AB;
    text-transform: uppercase;
}

.cx_design_label {
    color: #0B83AB;
    padding: 6px;
    text-decoration: underline;
    text-decoration-color: #0B83AB;
}

/* .......................persona........................... */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* .container-fluid {
    padding: 20px;
} */

#container_persona {
    background: #f3f3f3;
}

.row {
    direction: row;
    flex-wrap: wrap;
    /* margin: -15px; */
}



.col-sm-6 {
    flex: 0 0 calc(50% - 30px);
    padding: 15px;
}

.col-sm-6 {
    flex: 0 0 calc(50% - 30px);
    padding: 15px;
}

.persona-heading,
.persona-toolused,
.persona-tool {
    font-family: Montserrat, sans-serif;
    line-height: 1.2;
    margin: 10px 0;
}

.persona-heading {
    font-size: 24px;
    font-family: Montserrat-Semibold;
    color: #002D3C;


}

.persona-toolused {
    font-size: 18px;
    font-family: Montserrat-Semibold;
}

.persona-tool {
    font-size: 18px;
    font-family: Montserrat-Regular;
    color: #002D3C;
    width: 60%;
}

.persona-img-fluid {
    width: 100%;
    height: auto;
    display: block;
}

/* ......................user journy..................................................... */


.col-sm-4,
.col-sm-8 {
    flex: 0 0 calc(50% - 30px);
    /* Adjust column width and gutters */
    /* padding: 15px; */
}

.user-journey-heading,
.user-journey-toolused,
.user-journey-tool {
    font-family: Montserrat, sans-serif;
    line-height: 1.2;
    margin: 10px 0;
}

.user-journey-heading {
    font-size: 24px;
    font-family: Montserrat-Semibold;
    color: #002D3C;

}

.user-journey-toolused {
    font-size: 18px;
    font-family: Montserrat-Semibold;
}

.user-journey-tool {
    font-size: 18px;
    font-family: Montserrat-Regular;
    color: #002D3C;
}

.user-journey-img-fluid {
    width: 97%;
    display: block;
    margin-right: 15%;
}


/* ...........................wireframe..................................... */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#wireframe_main {
    background: #f3f3f3;
}


.row {
    display: flex;
    flex-wrap: wrap;
    /* margin: -15px; */
}

.col-sm-4,
.col-sm-8 {
    flex: 0 0 calc(50% - 30px);
}

.wireframes_heading,
.wireframes_toolused,
.wireframes_tool,
.text2,
.wireframes_tool {
    font-family: Montserrat, sans-serif;
    line-height: 1.2;
    margin: 10px 0;
}

.wireframes_heading {
    font-size: 24px;
    font-family: Montserrat-Semibold;
    color: #002D3C;

}

.wireframes_toolused,
.text2 {
    font-size: 18px;
    font-family: Montserrat-Semibold;
}

.wireframes_tool,
.wireframes_tool {
    font-size: 18px;
    font-family: Montserrat-Regular;
    color: #002D3C;
}

.img {
    width: 93%;
    display: block;
    margin-left: 18%;
}


/* ..................mock........................ */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
    /* margin: -15px; */
}

.col-sm-4,
.col-sm-8 {
    flex: 0 0 calc(50% - 30px);
}

.img-responsive1 {
    width: 100%;
    display: block;
    margin-right: 15%;
    margin-top: 5%;
}

.mockups-heading {
    font-family: Montserrat-Semibold;
    font-size: 24px;

    line-height: 1.2;
    color: #002D3C;
    margin-left: 2%;
    margin-top: 5%;
}

.mockups-toolused,
.mockups-text2,
.mockups-tool,
.mockups-text21 {
    font-family: Montserrat-Semibold;
    font-size: 18px;

    line-height: 1.8;
    color: #002D3C;
    margin-left: 8%;
}

.mockups-tool,
.mockups-text21 {
    margin-left: 1%;
    font-family: Montserrat-Regular;
}

.mockups-dividing-line {
    width: 100%;
    height: 26px;
    margin-top: 4%;
    flex-shrink: 0;
    background: rgba(255, 109, 67, 0.40);
}

/* ........................key.................................................. */
#keytakeways_main {
    background: #f3f3f3;
    margin-left: -1%;
    margin-right: -2%;
    margin-bottom: -2%;
    /* margin-top: 1%; */
}

.keytakeways-heading {
    color: #002D3C;
    font-family: Montserrat-Semibold;
    font-size: 40px;

    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 2%;
    text-decoration: underline;
    text-decoration-color: #ff6d43;
    letter-spacing: 2px;
    text-underline-offset: 8px;
}


.keytakeways-label {
    color: #000000;
    font-family: Montserrat-Regular;
    font-size: 17px;
 
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: capitalize;
}

.keytakeways-right-part img {
    padding-left: 20px;
}



.keytakeways-img-container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}

.col-sm-3 {
    flex: 0 0 auto;
    margin-top: 1.5%;
    width: 24%;
}

.keytakeways-items {
    width: 100%;
    margin-left: 0;
    margin-left: 15px;
}

.keytakeways_points {
    margin-top: 2%;
    margin-left: 1%;
}

.keytakeways-img {
    max-width: 100%;
    height: auto;
    background: #f3f3f3;
}

.keytakeways-right-part {
    width: 100%;
    text-align: center;
}

.keytakeways-right-part {
    padding-left: 0;
    max-width: 100%;
    height: auto;
}


/*  ....................................*/
.testimonial_img_1 {
    max-width: 36%;
}

.testimonial_img_2 {
    max-width: 38%;
    margin-left: -5%;
    margin-top: -3%;
}

.testimonial_img_3 {
    max-width: 36%;
    margin-left: -5%;
}



.testimonials-heading  {
    color: #002D3C;
    font-size: 40px;
    width: 28%;
    font-family: 'Montserrat-SemiBold';
    font-style: normal;
    margin-top: -2%;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #ff6d43;
    letter-spacing: 2px;
    text-underline-offset: 8px;
}



/* ....................2560............................ */
/*  */

@media (min-width: 2560px) {

    .right-part-title,
    .CaseStudy_description,
    .CaseStudy_domain,
    .CaseStudy_name,
    .CaseStudy_nameDesc {
        display: flex;
        flex-shrink: 0;
        color: #000;
        font-family: Montserrat;
        font-style: normal;
        padding: 2px;
        text-transform: capitalize;
    }

    #Header {
        height: 9%;
        /* background-color: rgb(163, 112, 45); */
    }

    .right-part-title {
        margin-top: 2%;
        margin-left: 5%;
        font-size: 45px;
        font-weight: 600;
        line-height: normal;
    }

    .CaseStudy_description {
        margin-left: 5%;
        margin-top: 1%;
        font-size: 21px;
        font-family: Montserrat-Regular;
        line-height: 25px;
    }

    .CaseStudy_domain {
        margin-top: 10px;
        margin-left: 5%;
        font-size: 21px;
        font-weight: 600;
        line-height: 25px;
    }

    .CaseStudy_name {
        margin-top: 0.5%;
        margin-left: 5%;
        font-size: 21px;
        font-family: Montserrat-Regular;
        line-height: 25px;
        width: fit-content;
    }

    .CaseStudy_name,
    .CaseStudy_nameDesc {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .CaseStudy_nameDesc {
        font-size: 21px;
        font-weight: 600;
        margin: 0 0 1px;
    }

    .action-buttons {
        margin-top: 25px;
        margin-left: 25px;
    }

    .breadcrumb {
        display: flex;
        align-items: center;
        font-family: Montserrat-Semibold;
        font-size: 23px;
        color: #000;
        padding: 0.9%;
        background-color: white;

    }


    .breadcrumb-item {
        display: flex;
        align-items: center;
    }

    .breadcrumb-item a {
        color: #000;
        text-decoration: none;
    }

    .breadcrumb-separator {
        margin: 0 5px;
    }

    .action-buttons {
        font-size: 21px;
        margin-left: 5.5%;
    }

    /* project scope */
    .project-scope-title {
        color: #002D3C;
        font-size: 44px;
        font-family: Montserrat-Semibold;

        line-height: normal;
        text-transform: uppercase;
        text-decoration: underline;
        text-decoration-color: #ff6d43;
        letter-spacing: 2px;
        text-underline-offset: 8px;
    }

    /* .project_sm_7{

    } */
    .project-description,
    .project-scope-Inlist {
        color: #000;
        font-family: Montserrat-Regular;
        font-size: 21px;
        font-style: normal;
       
        line-height: 31px;
        text-transform: capitalize;
    }

    .col-sm-7,
    .col-sm-5 {
        flex: 0 0 50%;
        padding-top: 25px;
    }

    /* challages */

    .challenges-label {
        color: #002D3C;
        font-family: Montserrat-SemiBold;
        font-size: 44px;
        font-style: normal;

        margin-left: 1%;
        line-height: normal;
        text-transform: uppercase;
        text-decoration: underline;
        text-decoration-color: #ff6d43;
        letter-spacing: 2px;
        text-underline-offset: 8px;
    }



    .img-responsive {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        margin-top: -21%;
    }


    .challenge-list {
        margin-top: 2%;
        color: #000;
        font-family: Montserrat-Regular;
        font-size: 21px;
        font-style: normal;
      
        line-height: 40px;
        text-transform: capitalize;
    }

    .challenge-list li {
        margin-bottom: -30px;
    }

    .challenges-items {
        color: #000;
        font-family: Montserrat-Regular;
        font-size: 21px;
        font-style: normal;
        letter-spacing: 0.01em;
        
        line-height: 40px;
        text-transform: capitalize;
        padding: 10px;
    }

    .challenges-dividing-line {
        width: 100%;
        height: 26px;

        flex-shrink: 0;
        background: rgba(255, 109, 67, 0.40);
    }

    .challenges-img img {
        width: 286px;
        height: 286px;
        margin-left: 110%;
        padding-top: -90%;
        margin-bottom: 30%;
        flex-shrink: 0;
        background-color: aqua;
    }

    /*  solution */

    .solution-part-heading {
        color: #002D3C;
        font-family: Montserrat-SemiBold;
        font-size: 44px;
        margin-top: -1.5%;
        margin-left: 1%;
        font-style: normal;
        line-height: normal;
        text-transform: uppercase;
        text-decoration: underline;
        text-decoration-color: #ff6d43;
        letter-spacing: 2px;
        text-underline-offset: 8px;
        margin-top: 1%
    }

    .solution-part-text {
        display: flex;
        width: 100%;
        flex-direction: column;
        flex-shrink: 0;
        color: #000;
        font-size: 26px;
        font-style: normal;
        margin-top: 2%;
        font-family: Montserrat-Regular;
        line-height: 25px;
        text-transform: capitalize;

    }

    .solution-list li {
        margin-bottom: -10px;
    }

    .solution-items {
        padding: 8px;
        color: #000;
        font-family: Montserrat-Regular;
        font-size: 25px;
        font-style: normal;
        letter-spacing: 0.01cqb;
        line-height: 30px;
        text-transform: capitalize;
        margin-left: 1%;
    }

    /* cx design */

    .cx-design-heading {
        color: #002D3C;
        font-family: Montserrat-SemiBold;
        font-size: 35px;
        margin-left: 0%;
        /* margin-top: 2%; */
        font-style: normal;

        width: 38%;
        line-height: normal;
        text-transform: uppercase;
        text-decoration: underline;
        text-decoration-color: #ff6d43;
        letter-spacing: 2px;
        text-underline-offset: 8px;
    }

    .cx-design-part ul {
        list-style-type: none;
        margin-left: 1%;
        padding: 0;
        overflow: hidden;
    }

    .cx-design-img {
        width: 75px;
        height: 93px;
        margin-left: 3%;
        margin-top: 1%;
        padding-top: 2%;
    }

    .cx_design_options {
        margin-top: 0;
        margin-bottom: 1rem;
        margin-left: -1%;
    }

    dl,
    ol,
    ul {
        margin-top: 0;
        margin-bottom: 1rem;
        margin-left: 1%;
    }

    .cx_list {
        margin-right: 150px;
        font-size: 25px;
    }

    .keytakeways-heading {
        color: #002D3C;
        font-family: Montserrat-SemiBold;
        font-size: 44px;
        text-transform: uppercase;
        margin-top: 43px;
        text-decoration: underline;
        text-decoration-color: #ff6d43;
        letter-spacing: 2px;
        text-underline-offset: 8px;
    }

    .keytakeways-label {
        color: #000000;
        font-family: Montserrat-Regular;
        font-size: 18px;
  
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        text-transform: capitalize;
    }

    .keytakeways-right-part img {
        padding-left: 20px;
    }

    .keytakeways-heading {
        color: #002D3C;
        font-family: Montserrat-SemiBold;
        font-size: 44px;

        text-transform: uppercase;
        margin-top: 1;
        text-decoration: underline;
        text-decoration-color: #ff6d43;
        letter-spacing: 2px;
        text-underline-offset: 8px;
    }

    .keytakeways-label {
        color: #000000;
        font-family: Montserrat-Regular;
        font-size: 23px;
    
        line-height: 40px;
        letter-spacing: 0em;
        text-align: left;
        text-transform: capitalize;
    }

    .keytakeways-right-part img {
        padding-left: 20px;
    }

    .testimonials-heading h5 {
        color: #002D3C;
        font-size: 44px;
        width: 28%;
        font-family: Montserrat-SemiBold;
        font-style: normal;

        line-height: normal;
        text-transform: uppercase;

        text-decoration: underline;
        text-decoration-color: #ff6d43;
        letter-spacing: 2px;
        text-underline-offset: 8px;
    }

    /*  */
    .delivery-img {
        height:auto ;
        width:auto ;
        margin-top: -22rem;
        margin-left: 45rem;
        position: relative;
    }

    .background_img {
        height: 112%;
        width: 105%;
        margin-left: -2%;
    }

    .nestle-img {
        height: 135px;
        margin-top: -78%;
        margin-left: 1.5%;
        position: relative;
    }

    .case-study-title {
        color: #FFF;
        height: 50px;
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        text-transform: capitalize;
        margin-left: 3.5%;
        margin-top: -16%;
    }


    /*  */
    .img-fluid {
        max-width: 100%;
        margin-left: 9%;
        height: auto;
        width: 58%;
    }

    /*  */
    #container_persona {
        width: 100%;
        margin-top: 10%;
        background-color: #F8F8F8;
        flex-wrap: wrap;
    }

    .persona-img-fluid {
        width: 100%;
        display: block;
        margin-left: -2%;
    }

    /*  */
    .persona-heading,
    .persona-toolused,
    .persona-tool {
        font-family: Montserrat, sans-serif;
        line-height: 1.2;
        margin: 10px 0;
    }

    .persona-heading {
        font-size: 41px;
        font-weight: 600;
        color: #002D3C;
    }

    .persona-toolused {
        font-size: 34px;
        font-weight: 600;
    }

    .persona-tool {
        font-size: 30px;
        font-family: Montserrat-Regular;
        color: #002D3C;
        width: 60%;
    }

    /*.........user..................  */

    .user-journey-img-fluid {
        width: 97%;
        display: block;
        margin-right: 15%;
    }

    .user-journey-heading {
        font-size: 44px;
        font-weight: 600;
        color: #002D3C;
        margin-right: 57%;
    }

    .user-journey-toolused {
        font-size: 34px;
        margin-right: 58%;
        font-weight: 600;
    }

    .user-journey-tool {
        font-size: 30px;
        font-weight: 500;
        margin-right: 58%;
        color: #002D3C;
    }

    /* ..................wire */
    .img {
        width: 93%;
        display: block;
        margin-left: 5%;
    }

    .wireframes_heading {
        font-size: 41px;
        font-weight: 600;
        color: #002D3C;

    }

    .wireframes_toolused,
    .text2 {
        font-size: 34px;
        font-weight: 600;
    }

    .wireframes_tool,
    .wireframes_tool {
        font-size: 30px;
        font-family: Montserrat-Regular;
        color: #002D3C;
    }

    /* mockup .......................*/

    .mockups-heading {
        font-family: Montserrat-Semibold;
        font-size: 41px;

        line-height: 1.2;
        color: #002D3C;
        margin-right: 49%;
        margin-top: 9%;
    }

    .mockups-toolused {
        font-family: Montserrat-Semibold;
        font-size: 34px;
        color: #002D3C;
        margin-left: 2%;
        margin-right: 45%;
    }

    .mockups-tool {
        font-family: Montserrat-Regular;
        font-size: 34px;
 
        margin-left: 1%;
    }

    .img-responsive1 {
        width: 100%;
        display: block;
        margin-right: 15%;
        margin-top: 5%;
    }
}