<!-- Display your data here -->
<ng-template #dataContent>

  <ng-container *ngIf="!isScreenSizeSmallOrLarge">
    <ng-container *ngIf="isAuthenticated">
      <app-header-footer></app-header-footer>
      <router-outlet></router-outlet>
    </ng-container>
    <ng-container *ngIf="!isAuthenticated">
      <app-loginuser></app-loginuser>
    </ng-container>
  </ng-container>


  <div *ngIf="isScreenSizeSmallOrLarge" class="message">
    {{ labelConstants [2].Errormsg }}
  </div>
  
</ng-template>

<!-- Error -->
<div *ngIf="!errorService.getIsError(); then dataContent else errorContent"></div>
<ng-template #errorContent>
  <!-- Display the error component here -->
  <app-error></app-error>
</ng-template>