

    <!-- Display your data here -->
    <ng-template #dataContent>

 <ng-container *ngIf="!isScreenSizeSmallOrLarge">
    <app-header-footer></app-header-footer>
    
    <!-- Other content for large screens -->
    <router-outlet></router-outlet>
</ng-container>




<div *ngIf="isScreenSizeSmallOrLarge" class="message">
    {{ labelConstants [2].Errormsg }}
</div>

  </ng-template>
  
  <div *ngIf="!errorService.getIsError(); then dataContent else errorContent"></div>
  
  <ng-template #errorContent>
    <!-- Display the error component here -->
    <app-error></app-error>
  </ng-template>
    
  <!-- <app-user-management></app-user-management> -->