<div className='test-div1'>

    <h1 className='test-heading'>{{data4.heading}}</h1>

    <div className='test-div2'>

      <img [src]="data4.image.url" alt='logo' className='test-leftarrow' />

      <div className='test-div3'>

        <img src={data4.image.url} alt='logo' className='test-videoimage' />

        <div className='test-div4'>

          <h2 className='test-main-title'>{{data4.title}}</h2>

          <p className='test-main-description'>{{data4.description}}</p>

          <h6 className='test-main-author'>{{data4.author}}</h6>

          <h4 className='test-main-position'>{{data4.authorDescription}}</h4>


        </div>

      </div>

      <img src={testdata[0].Image2} alt='logo' className='test-rightarrow' />

    </div>

  </div>