<!-- <mat-tab-group class="custom-tab-group">
    <mat-tab label="All"></mat-tab>
    <mat-tab label="Banking"></mat-tab>
    <mat-tab label="Insurance"></mat-tab>
    <mat-tab label="Healthcare"></mat-tab>
    <mat-tab label="Logistics"></mat-tab>
    <mat-tab label="Telecom"></mat-tab>
    <mat-tab label="Manufacturing"></mat-tab>
  </mat-tab-group>
 
 -->

 <!-- <mat-tab-group class="custom-tab-group">
    <mat-tab label="All" (click)="filterDataByDomain('all')"></mat-tab>
    <mat-tab *ngFor="let domain of domains" [label]="domain" (click)="filterDataByDomain(domain)"></mat-tab>
  </mat-tab-group> -->
 

  