

  .mat-mdc-tab-group{
    --mdc-tab-indicator-active-indicator-color: #ff6d43;
    --mat-tab-header-disabled-ripple-color:#ff6d43;
    --mat-tab-header-pagination-icon-color: #ff6d43;
    --mat-tab-header-inactive-label-text-color: black;
    --mat-tab-header-active-label-text-color:#ff6d43;
    --mat-tab-header-active-ripple-color: #ff6d43;
    --mat-tab-header-inactive-ripple-color: #ff6d43;
    --mat-tab-header-inactive-focus-label-text-color: #ff6d43;
    --mat-tab-header-inactive-hover-label-text-color: #ff6d43;
    --mat-tab-header-active-focus-label-text-color:#ff6d43;
    --mat-tab-header-active-hover-label-text-color:#ff6d43;
    --mat-tab-header-active-focus-indicator-color: #ff6d43;
    --mat-tab-header-active-hover-indicator-color: #ff6d43;
  }

  .custom-tab-group {
     border-bottom: 1px solid #000000;
     ; 
  }
  
  .custom-tab-group .mat-tab-label {
    margin: 36px;
    padding: 10px;
  }
  
  .toggle {
    position: relative;
    display: inline-block;
    width: 3.5%;
    height: 15%;
    margin-top: 40%;
    margin-right: 80%;
  }
  
  .toggle input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    border-radius: 34px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: rgb(203, 127, 27);
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #a6aab7;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #f3f6f8;
  }
  
  input:checked + .slider:before {
    transform: translateX(20px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  