
<div class="test-div1">

    <h1 class="test-heading">{{data4.heading}}</h1>

    <div class="test-div2">

      <svg  class="test-leftarrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23 40" fill="none">
        <path d="M0 20L20 0L22.8 2.8L5.6 20L22.8 37.2L20 40L0 20Z" fill="#BFBFBF"/>
      </svg>

      <div class='test-div3'>
        <video controls autoplay class="test-videoimage" alt="logo"  [src]="data4.video.url"></video>
        <div class="test-div4">

          <h2 class="test-main-title">{{data4.title}}</h2>
          <p class="test-main-description">{{data4.description}}</p>
          <h6 class="test-main-authorName">{{data4.author}}</h6>
          <h4 class="test-main-authorSmall">({{data4.authorDescription}})</h4>

        </div>

      </div>

      <img src="../assets/arraow.png" alt="logo"  class="test-rightarrow" />

    </div>

  </div>