<div class="sticky-header">
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top mr-3" id="Header" style=" width: 100%;  box-shadow: 0 2px 3px #888;">
  <a class="" style="margin-left: 30px;" routerLink="/grid-page">
    <img alt="Eviden_logo" class="Eviden_logo" [src]="data.logo.url"  width="150" height="30"> 
  </a>
  <div class=" navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <!-- <a class="nav-link disabled" href="#">Disabled</a> -->
      </li>
    </ul>

    <!-- Add your icons here -->
    <div class="icons-container">

      <!-- <ul *ngIf="auth.user$ | async as user">
        <li>{{ user.email }}</li>
      </ul> -->

      <!-- Assuming 'isAuthenticated' is a boolean property in your component -->

      <!-- <button class="login" (click)="login()">Log in</button>
      <span class="separator" style="margin-right: 20px;padding: 5px;"><img src="assets/Line 1.png"></span>

     <button class="login" (click)="logout()">Log Out</button>
      <span class="separator" style="margin-right: 20px;padding: 5px;"><img src="assets/Line 1.png"></span> -->
      <!-- <i class="fas fa-user"></i> -->
      <img alt="header_logo" [src]="data.logo1.url"  style="margin-right: 20px;"> 
      <!-- Example icon: Font Awesome user icon -->
      <span class="separator" style="margin-right: 20px;"><img alt="slash" src="assets/Line 1.png"></span>
      <img alt="header_logo2" [src]="data.logo2.url"  style="margin-right: 20px;">  <!-- Example icon: Font Awesome bell icon -->
    </div>
  </div>
</nav>
</div>

