.sidebar {
    position: sticky;
    top: 20px; /* Adjust this value as per your requirement */
    /* height: 100vh; Adjust this value as per your requirement */
    /* background-color: #f2f2f2; */
    background-color:#fff;
    box-shadow: inset;

  }
  .content {
    padding-right: 300px; /* Adjust this value to match the width of the sidebar */
  }

  .logo {
    width: 100px; /* Set the desired width */
    height: 40px; /* Set the desired height */
    object-fit: contain; /* Adjust how the logo is displayed within the given dimensions */
  }
  .sticky-header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000; /* Adjust z-index as needed */
  }
  .Eviden_logo {
    display: flex;
   margin-left: -12%;
   width: fit-content;
  height: 49px;

   padding: 10px;
  }
  
.icons-container{
  float: right;
  padding-bottom: 7px;
}
  @media (min-width: 2560px) {
    #Header{
      height: 9%;
      background-color: rgb(163, 112, 45);
    }
  }


  @media screen and (min-width: 375px) and (max-width: 600px) {
  
  .navbar{
    height: 56px;
    width: 100%;
    box-shadow: 0 2px 3px #888;
  }
 
  }
  

  @media screen and (min-width: 360px) and (max-width: 374px) {
  
  .navbar{
    height: 56px;
    width: 100%;
    box-shadow: 0 2px 3px #888;
  }
  nav{
    height: 45px;
  }
  }


@media screen and (max-width:912px) {
  .icons-container {
  
    margin-top: -46px;
    height: auto;
  
   
}

.Eviden_logo {
  width: fit-content;
    height: 45px;
    margin-left: -17%;
}
}
/*  */
  



