@import '../Fonts/Fonts.css';

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0px 20px;
}

.column {
  width: 33.33%;
  /* height: 2212.5%; */
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* border:1px solid */
}
.column p {
  margin-bottom: 0rem;
}

.divpadding{
  width: 100%;
}

.column-list {
  display: flex;
  align-items: center;
  column-gap: 15px;
  /* border: 1px solid; */
}


img {
  object-fit: contain;
  width: 100%;
  height: auto;
  padding: 7px;
  box-sizing: border-box;

}

.list-image {
  padding: 0px;
  width: auto;
}

.list-text {
  font-size: 15px;
  /* margin-left: 19px; */
  font-family: Montserrat-Semibold;
}

.list-text1 {
  font-size: 12.5px;
  /* margin-left: 19px; */
  color: #000;
  font-family: Montserrat-Regular;
  font-style: normal;
  line-height: 20px;
  text-transform: lowercase;
}

.list-div2{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list-div3{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.list-div4{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.grid-text {
  font-size: 15px;
  /* margin-left: 1px; */
  font-family: Montserrat-Semibold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.grid-image {
  /* height: 250px;
  width: 430px; */
  padding: 0px;
}

.grid-div2{
  display: flex;
  flex-direction: column;
  /* border: 1px solid; */
  padding: 0px 3px;
  row-gap: 2px;
}

.grid-text1 {

  /* margin-left: 6px; */
  color: #000;
  font-family: Montserrat-Regular;
  font-size: 12px;
  font-style: normal;
  /* margin-left: -13px;
  margin-top: -3%; */
  line-height: 1px;
  text-transform: capitalize;
}

.grid-text2 {
  /* margin-left: 1px; */
  color: #000;
  font-family: Montserrat-Regular;
  font-size: 10px;
  font-style: normal;
  /* line-height: 16px; */
  text-transform: capitalize;
  /* margin-top: -3%; */
}

.grid-div3{
  color: #000;
  font-family: Montserrat-Regular;
  font-size: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-left: -3%;
}
.grid-div4{
  display: flex;
  flex-wrap: nowrap;
}

.grid-div5{
  display: flex;
  flex-wrap: nowrap;
}

.list-view:nth-child(even) {
  background-color: none;
  width: 100%;
}

.list-view:nth-child(odd) {
  background-color: #F8F8F8;
  width: 100%;
}

/* inline css covert into external css */
#List_btn {
  width: 35px;
  position: relative;
  left: 10px;
  color: #FF6D43
}

.matTab_listgrid_div {
  border-bottom: 1px solid #000000;
  height: 48px;
}


.mat-mdc-tab-group {
  --mdc-tab-indicator-active-indicator-color: #ff6d43;
  --mat-tab-header-disabled-ripple-color: #ff6d43;
  --mat-tab-header-pagination-icon-color: #ff6d43;
  --mat-tab-header-inactive-label-text-color: black;
  --mat-tab-header-active-label-text-color: #ff6d43;
  --mat-tab-header-active-ripple-color: #ff6d43;
  --mat-tab-header-inactive-ripple-color: #ff6d43;
  --mat-tab-header-inactive-focus-label-text-color: #ff6d43;
  --mat-tab-header-inactive-hover-label-text-color: #ff6d43;
  --mat-tab-header-active-focus-label-text-color: #ff6d43;
  --mat-tab-header-active-hover-label-text-color: #ff6d43;
  --mat-tab-header-active-focus-indicator-color: #ff6d43;
  --mat-tab-header-active-hover-indicator-color: #ff6d43;
}

.custom-tab-group {
  margin-bottom: 10px;
  /* Adjust the margin between the tab group and other elements */
  max-width: 85%;
  top: 20px;
  font-family: Montserrat-Bold;
  font-size: 15px;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;

}

.custom-tab-group mat-tab {
  color: #000;
  /* Set the icon color to black (#000) */
}

.custom-tab-labels {
  gap: 0px;
  /* Adjust the spacing between the tab labels */
}

#btnContainer {
  float: right;
  margin-top: -59px;
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.sortby {
  width: 144px;
  height: 42px;
  border-radius: 4px;
  margin-left: 87%;
  margin-top: -20%;
  border: 1px solid #ECECED;
  background: #FFF;
  flex-shrink: 0;
}

.labSortby {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  /* display: flex; */
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 3%;
  margin-top: -16%;
}

/* icons */

.icons {
  width: 31px;
  height: 31px;
}

.icons1 {
  width: 300px;
  height: 300px;
}



/* toggle */
input.toggle-round {
  display: none;
}

.CXTowerlabel {
  margin-left: 20px;
  top: 30px;
  color: #000;
  font-family: Montserrat-Semibold;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
}

.CXTechlabel1 {
  margin-left: 70px;
  top: 30px;
  color: #000;
  font-family: Montserrat-Semibold;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
}

input.toggle-round+label,
input.toggle-round+label:after {
  border: 1px solid #FF6D43;
  background-color: #FF6D43;
  display: block;
  height: 20px;
}

input.toggle-round+label {
  background-color: #ddd;
  border-radius: 50px;
  cursor: pointer;
  padding: 0px;
  position: relative;
  left: 108px;
  top: 27px;
  width: 42px;
  height: 15px;

}

input.toggle-round+label:after {
  border-radius: 100%;
  box-shadow: 0 2px 3px #888;
  content: "";
  position: absolute;
  transition: margin 0.5s;
  width: 23px;
  height: 23px;
  top: -5px;
}

input.toggle-round:checked+label {
  background-color: #ddd;
}

input.toggle-round:checked+label:after {
  margin-left: 23px;
}

.labels {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  gap: 20px;
}

.labels left-side button:hover {
  background-color: #FF6D43;
}

.label {
  display: none;
  color: #000;
  text-align: center;
  font-family: Montserrat-Semibold;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
}

.label:hover {
  background-color: #FF6D43;
}

.label:active {
  background-color: #FF6D43;
}

/* internal to external */
.list-logo {
  left: -13px;
  position: relative;
  width: 35px;
  height: 35px;
}

.grid-logo {
  position: relative;
  left: -1px;
  color: #FF6D43;
  height: 35px;
  width: 35px;

}


.Comments_btn {
  display: inline-block;
  /* margin-right: 20px; */
  border: none;
  background-color: inherit;
  font-family: 'Montserrat-Regular';
  font-size: 12px;
}

.like_btn {
  display: inline-block;
  /* margin-right: 20px; */
  border: none;
  background-color: inherit;
  font-family: Montserrat-Regular;
  font-size: 12px;
}

.separator {
  position: relative;
  left: 10px;
}


.list-logo:hover {
  color: #FF6D43;
}

.img-fluid {
  object-fit: contain;
}

.list-logo:active {
  color: #FF6D43;
}


input.toggle-round:checked~.labels.left-side .label:nth-child(1),
input.toggle-round:checked~.labels.left-side .label:nth-child(2),
input.toggle-round:checked~.labels.left-side .label:nth-child(3) {
  display: block;
}

input.toggle-round:not(:checked)~.right-side .label {
  display: block;
}

.btn-active {
  border: none;
}

/* Default styles */
.labels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.label {
  width: auto;
  height: 30px;
  border-radius: 50px;
  border: 1px solid #FF6D43;
  padding: 0px 18px;

}

/* Custom CSS to make mat-tab-label smaller */
.custom-tab-group .mat-tab-label {
  font-size: 12px;
  /* Adjust the font size as per your requirement */
  padding: 6px 6px;
  /* Adjust the padding as per your requirement */
}

/* Add this CSS to show/hide the dropdown on click */
.sortby {
  position: relative;

}

.dropdown-content {
  display: none;
  position: absolute;

  list-style: none;
  padding: 0;
  width: 100%;
  margin: 0;
  z-index: 1;
}

.sortby:hover .dropdown-content {
  display: block;
}


/* popup window */
/* Styling for the pop-up container */
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Styling for the pop-up content */
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  text-align: center;
}

.popup-button {
  margin-top: 10px;
  margin-bottom: 10px;
  /* Add margin at the bottom of each button */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  /* Add display flex for icon and label alignment */
  align-items: center;
  /* Align items vertically */
  gap: 10px;
  /* Add gap between icon and label */
  transition: background-color 0.2s, color 0.2s;
}

.popup-button:hover {
  background-color: #FF6D43;
  color: #ffffff;
}

.button-label {
  flex: 1;
  /* Allow the label to take up remaining space */
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 15px;
}

.pagination-button {
  padding: 8px 16px;
  background-color: #FF6D43;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.3s;
}

.pagination-button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination-button:hover {
  background-color: #FF864F;
}

.pagination-info {
  margin: 0 20px;
  font-size: 15px;
}

/* sortby */

::ng-deep .mat-mdc-focus-indicator {
  position: relative;
}

::ng-deep .mat-ripple {
  overflow: hidden;
}

/* submit button for comment */
.orange-button {
  background-color: #ff6D43;
  color: white;
  /* padding: 5px 5px; */
  border: none;
  cursor: pointer;
  margin-left: 44px;
}

.orange-button2 {
  background-color: #ff6D43;
  color: white;
  /* padding: 5px 5px; */
  border: none;
  cursor: pointer;
  margin-left: 35px;
}

.cancel-button{
  background-color: #ff6D43;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 24px;
  margin-top: 6px;
}


.blue-button{
  
  margin-top: -2px;
}

.orange {
  filter: brightness(1.5) sepia(1) hue-rotate(180deg);
}



/* Comment box container */
.comment-box-list {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  max-height: 300px;
  overflow-y: auto;
}

.comment-box-grid{
    margin-left: -8PX;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    max-height: 109px;
    overflow-y: auto;
    max-width: 231px;
}

/* Individual comment */
.comment {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

/* Comment content */
.comment-content {
  background-color: #f9f9f9;
  border-radius: 6px;
  padding: 8px 12px;
}

/* Comment text */
.comment-content p {
  margin: 0;
  font-size: 12px;
  font-weight: bold;
}



/* Comment date */
.comment-meta .comment-date {
  margin-right: 10px;
  font-size: 11px;
}

.delete-icon{
  width: 28px;
    height: 30px;
    margin-top: -17px;
    margin-left: 77px;
    cursor: pointer;
}

.hidden-comment {
  display: none; 
}

.more-comment{
  margin-left: 125px;
  cursor: pointer;
}
.less-comment{
  margin-left: 125px;
  cursor: pointer;
}



.meta-details {
  display: flex; /* Align items in the same row */
  align-items: center; /* Center vertically */
}

.comment-date {
  margin-right: 10px; 
  align-self: flex-end; 
  font-size: 11px;
}

.post-comment{
  
  margin-left: 30px;
  cursor: pointer;
}
.textarea{
  font-size: 13px;
  margin-left: 34px;
}


/* Pagination styling for comments section */
.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination li {
  margin: 0 5px;
  display: inline-block;
}

.pagination li a {
  text-decoration: none;
  padding: 3px 3px;
  border: 0.5px solid #ccc;
  border-radius: 1px;
  color: #333;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.pagination li a:hover {
  background-color: #f0f0f0;
}

.pagination li.active a {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

/* .like{
  margin-top: 37px;
} */


  .user-email {
   /* Make the text bold */
    color: #336699; /* Set the text color */
    /* Add any other styles you want for the user-email class */
}

.comment-content:hover {
  background-color: rgb(209, 225, 243); /* Change to your desired hover color */
}

/* CSS for changing the delete icon on hover */
.delete-icon:hover {
  content: url('../../assets/delete.png'); /* Change to your different icon path */
  cursor: pointer;
}

