<!-- <app-slide-show (searchTextChanged)="onSearchTextEntered($event)"></app-slide-show> -->

<div class="matTab_listgrid_div">
  <!-- navigation bar mat tap -->
  <mat-tab-group class="custom-tab-group" [(selectedIndex)]="selectedTabIndex"
    (selectedTabChange)="handleTabChange($event)">
    <mat-tab label="All ({{ getDomainCount('All') }})"></mat-tab>
    <mat-tab *ngFor="let domain of domains" [label]="getDomainLabel(domain)"></mat-tab>
  </mat-tab-group>

  <!-- list and grid buttons -->
  <div id="btnContainer">
    <div>
      <button class="btn" id="List_btn" (click)="toggleView('list'); listView()">
        <img alt="list_button" class="list-logo" [src]="
            isListViewActive
              ? '../assets/format-list-bulleted.png'
              : 'assets/Vector (3).png'
          " alt="List View" />
      </button>
    </div>

    <span class="separator"><img alt="shlash" src="assets/Line 1.png" /></span>

    <div>
      <button class="btn" (click)="toggleView('grid'); gridView()">
        <img alt="grid_button" class="grid-logo" [src]="
            isListViewActive ? 'assets/Vector22.png' : '../assets/grid.png'
          " alt="Grid View" />
      </button>
    </div>
  </div>
</div>

<!-- toggle -->

<input id="cb_id" class="toggle-round" type="checkbox" />
<label for="cb_id"></label>
<label class="CXTowerlabel">{{ labelConstants[0].CXTower }}</label>
<label class="CXTechlabel1">{{ labelConstants[0].CXTech }}</label>

<!-- Cx Tech -->
<div class="labels left-side" style="margin-top: -32px; margin-left: 10px">
  <ng-container *ngFor="let data of cxTech">
    <button (click)="filterDataBySubDomain(data)" class="label">
      {{ data }}
    </button>
  </ng-container>
</div>

<!-- Cx Tower -->
<div class="labels right-side" style="margin-top: -1px">
  <ng-container *ngFor="let data of cxTower">
    <button (click)="filterDataBySubDomain(data)" class="label">
      {{ data }}
    </button>
  </ng-container>
</div>
<div>
  <br />

  <div class="row" id="content" #content>
    <ng-container *ngFor="let item of paginatedData">
      <div class="column" [ngClass]="{ 'list-view': !isGridView }" *ngIf="
          searchText === '' ||
          item.details.title?.toLowerCase().includes(searchText)
        ">
        <div class="divpadding" [ngClass]="{ 'column-list': !isGridView }">
          <img alt="grid_images" width="440" height="260" class="img-fluid" [src]="item.details.itemIcon.url"
            [src]="item.details.itemIcon.url" [ngClass]="{ 'grid-image': isGridView, 'list-image': !isGridView }"
            [routerLink]="['/case_study', item.details.sys.id]" />

          <div [ngClass]="{ 'grid-div2': isGridView, 'list-div2': !isGridView }">
            <p [ngClass]="{ 'grid-text': isGridView, 'list-text': !isGridView }">
              {{ item.details.title }}
            </p>
            <div [ngClass]="{'list-div4':!isGridView}">
              <!-- description -->
              <p *ngIf="!isGridView" [ngClass]="{ 'list-text1': !isGridView }">
                {{ item.details.description }}
              </p>
              <!-- date -->
              <p [ngClass]="{
                  'grid-text2': isGridView,
                  'list-text1': !isGridView
                }">
                {{ labelConstants[0].Publishedon }}
                <strong>{{
                  item.details.publishedOnDate | date : "dd-MM-yyyy" : "UTC"
                  }}</strong>
              </p>
            </div>
           
           
            <div [ngClass]="{ 'grid-div3': isGridView, 'list-div3': !isGridView }">
              
              <div *ngIf="isGridView" class="grid-div4">
                <!-- like and comment for grid -->
                
                <!-- Comment Button -->
                <button *ngIf="isGridView || !isGridView" class="Comments_btn" (click)="toggleCommentBox(item.details.sys.id); fetchComments(item.details.sys.id)">
                  <img [src]="logoCollection[4].logo.url" class="icons" alt="Comments" />
                  {{ labelConstants[0].Comments }}
                </button>
                
               
             
                <div>
                  <textarea *ngIf="itemCommentBoxStates[item.details.sys.id]" [(ngModel)]="comment" placeholder="Write your comment..."></textarea>
                  <button *ngIf="itemCommentBoxStates[item.details.sys.id]" (click)="submitComment(item.details.sys.id); toggleCommentBox(item.details.sys.id)" class="orange-button">Submit</button>
                </div>
                
                <!-- like btn using redux -->
                <button *ngIf="isGridView" (click)="toggleLike(item.details.sys.id)" class="like_btn">
                  <img [src]="logoCollection[7].logo.url" alt="Likes" class="icons" />
                  {{ counterdisplay }}
                </button>
                
              
              </div>

              <div *ngIf="!isGridView" class="list-div">
                <!-- Comments button and section -->
                <button class="Comments_btn" (click)="toggleCommentBox(item.details.sys.id); fetchComments(item.details.sys.id)">
                  <img [src]="logoCollection[4].logo.url" class="icons" alt="Comments" />
                  {{ labelConstants[0].Comments }}
                </button>
              
                <div>
                  <textarea *ngIf="itemCommentBoxStates[item.details.sys.id]" [(ngModel)]="comment" placeholder="Write your comment..."></textarea>
                </div><div class="blue-button"><button *ngIf="itemCommentBoxStates[item.details.sys.id]" (click)="submitComment(item.details.sys.id); toggleCommentBox(item.details.sys.id)" >Submit</button>
                  </div>
              
                <!-- Like button -->
                <button *ngIf="!isGridView" (click)="toggleLike(item.details.sys.id)" class="like_btn">
                  <img [src]="logoCollection[7].logo.url" alt="Likes" class="icons" />
                 
                </button>
              </div>
              

              <div class="grid-div5" *ngIf="isGridView">
                <button (click)="openPopup()" style="border: none; background-color: white">
                  <img alt="Share_icon" class="icons" [src]="logoCollection[5].logo.url" />
                </button>
                <!-- popop share -->
                <div [hidden]="!showPopup" class="popup-container">
                  <div class="popup-content">
                    <button class="popup-button" (click)="handleEmailShare('item.details.sys.id')">
                      <i class="fab fa-linkedin fa-2x" style="color: #0077b5"></i>
                      <span class="button-label">
                        {{ labelConstants[0].ShareonLinkedIn }}</span>
                    </button>
                    <button class="popup-button" (click)="handleLinkedInSharee('item.details.sys.id')">
                      <i class="far fa-envelope fa-2x" style="color: #666"></i>
                      <span class="button-label">
                        {{ labelConstants[0].ShareviaEmail }}</span>
                    </button>
                    <button class="popup-button close-button" (click)="closePopup()">
                      {{ labelConstants[0].CloseDiaBox }}
                    </button>
                    <!-- Add "close-button" class -->
                  </div>
                </div>

                <!-- downlaod btn -->
                <button (click)="makePDF()" style="border: none; background-color: white" class="download_btn">
                  <img alt="download_icon" [src]="logoCollection[6].logo.url" class="icons" />
                </button>
              </div>

              <div *ngIf="!isGridView">
                <!-- share icon list view -->
                <img alt="Share_icon" [src]="logoCollection[5].logo.url" class="icons" />
                <!-- download icon list view -->
                <img alt="download_icon" [src]="logoCollection[6].logo.url" class="icons" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <!-- pagination -->
  <div class="pagination">
    <button [disabled]="currentPage === 1" class="pagination-button" (click)="changePage(-1)">
      {{ labelConstants[0].Previousbtn }}
    </button>
    <span class="pagination-info">{{ currentPage }} / {{ totalPages }}</span>
    <button [disabled]="currentPage === totalPages" class="pagination-button" (click)="changePage(1)">
      {{ labelConstants[0].Nextbtn }}
    </button>
  </div>

  <div *ngIf="isGridView">
    <app-testimonial2></app-testimonial2>
  </div>

  <app-footer></app-footer>
  <ng-template #dataContent></ng-template>
</div>